<h1>Crazy Cool User dashboard</h1>

<p>Welcome <%= @user.email %> </p>

<% if @user.company_admin && @user.company %>
<%= link_to "Go to company dashboard", company_path(@user.company), class: "btn btn-info" %>
<% end %>
