
<div class="row">
  <div class="col-sm-7 col-sm-offset-2">
    <%= image_tag "Alan_bg_square.png", class: "img-responsive", alt: "Responsive image" %>
  </div>
  <div class="col-sm-2">
    <%= link_to "Get Started", new_user_registration_path, class: "btn btn-lg btn-primary", style: "margin: 200px 0 0 0" %>
  </div>
</div>
