<h2>3. Send invitations to collaborators.</h2>

<form>
  <div class="form-group" id="batchEmailSection">
    <label for="batchEmailInput">Email addresses sink &nbsp;
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
    </label>
    <div class="row">
      <div class="col-lg-10">
        <textarea type="email" class="form-control" id="batchEmailSink" rows = 7
                  placeholder="Copy paste here some text with email addresses you want to extract, from an email address field for instance. You can also directly add entries below one by one."></textarea>
      </div>
    </div>
  </div>
  <hr>
  <div class="form-group" id="emailsSection">
    <div class="form-group emailGroup row" id="emailGroup1">
      <button type="button" class="btn btn-warning pull-left emailRemove" id="emailRemove1" style = "visibility: hidden">
        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true" aria-label="remove"></span>
      </button>
      <div class="col-lg-5">
        <input type="email" class="form-control emailField" id="email1" placeholder="Email">
      </div>
      <div class="col-lg-2">
        <input type="text" class="form-control fnField" id="firstName1" placeholder="First Name">
      </div>
      <div class="col-lg-2">
        <input type="text" class="form-control lnField" id="lastName1" placeholder="Last Name">
      </div>
      <div class="checkbox col-lg-2">
        <label>
          <input type="checkbox" checked> Insured
        </label>
      </div>
    </div>
  </div>
  <hr>
  <button type="button" class="btn btn-default">Submit</button>
</form>
<br>
<hr>
<hr>
<br>


<button type="button" class="btn btn-default" id="jsBtn">JS Button</button> <br>
<br>
<textarea class="col-lg-10" rows = "4" id="jsOut"> [JS DEBUG CONSOLE] </textarea>
