<h2>3. Send invitations to collaborators.</h2>

<form>
  <div class="form-group" id="batchEmailSection">
    <label for="batchEmailInput">Email addresses</label>
    <div class="row">
      <div class="col-lg-10">
        <textarea type="email" class="form-control" id="batchEmailInput"
                  placeholder="Copy paste an email list here, from an email address field for instance. You can also directly add entries below."></textarea>
      </div>
      <button type="button" class="btn btn-info col-lg-2">Parse</button>
    </div>
  </div>
  <hr>
  <div class="form-group" id="emailsSection">
    <div class="form-group emailGroup" id="emailGroup1">
      <div class="col-lg-6">
        <input type="email" class="form-control" id="email1" placeholder="Email">
      </div>
      <div class="col-lg-2">
        <input type="text" class="form-control" id="firstName1" placeholder="First Name">
      </div>
      <div class="col-lg-2">
        <input type="text" class="form-control" id="lastName1" placeholder="Last Name">
      </div>
      <div class="checkbox col-lg-2">
        <label>
          <input type="checkbox" checked> Insured
        </label>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <button type="button" class="btn btn-default">Submit</button>
</form>
<br>
<hr>
<hr>
<br>


<button type="button" class="btn btn-default" id="jsBtn">JS Button</button> <br>
<br>
<textarea id="jsOut"> [JS DEBUG CONSOLE] </textarea>
