<h2>2. Company Information</h2>

<p> Now we're all set to start gathering information about your company. <br>
You'll want to have handy your administrative and payment information.</p>

<%= render 'form' %>
