<h2>2. Company Information</h2>

<p> Now we're all set to start gathering information about the company. <br>
You'll want to have handy a few administrative information as well as your payment information.</p>

<%= render 'form' %>
