<footer class="footer">
  <div class='container'>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
    &nbsp; - &nbsp;
    <small>
      <p>© 2016 Alan Health, Inc.</p>
    </small>
  </div>
</footer>
